.footer {
  display: flex;
  flex-direction: column;
  color: $color-white;
  height: 100%;
  background-color: $color-footer;
  padding: 1.5rem;
  & h2 {
    font-family: "Shrikhand", cursive;
    font-weight: unset;
    margin: 0;
    margin-bottom: 1rem;
  }
  & p {
    margin: 0;
    margin-left: 3%;
    
  }
  & a {
    text-decoration: none;
    color: $color-white;
    &:hover {
      color: $color-primary;
    }
  }
  &__txt {
    display: flex;
  }
  &__links {
    margin-bottom: 1rem;
  }
  @media (min-width: 995px) {
    display: flex;
    align-items: center;
    .links{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
  }
}
