.title {
  font-family: "Shrikhand", cursive;
  font-weight: unset;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0.3rem;
  box-shadow: 0 0 0.5rem rgb(92, 92, 92);
  margin-bottom: 3px;
}

.city {
  padding: 1rem;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  gap: 1rem;
  h2 {
    font-size: 1rem;
    margin: 0;
  }
}

