.restaurants {
  background-color: $color-grey;
  & h2 {
    padding-left: 5%;
    padding-top: 3rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  & h3,
  p {
    font-size: 1rem;
    margin: 0;
  }
  .new {
    position: relative;
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "Nouveau";
      position: absolute;
      height: 2rem;
      width: 5rem;
      background-color: $color-tertiary;
      color: darken($color-tertiary, 35%);
      font-weight: bold;
      right: 1rem;
      top: 1rem;
    }
  }
  &__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4rem;
    @media (min-width: 994px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;
    border-radius: 20px;
    background-color: $color-white;
    transition: all 200ms;
    @include box-shadow;

    @for $i from 1 through 4 {
      &__image#{$i} {
        @include cards-size;
        background-image: url(../images/restaurants/image#{$i}.jpg);
      }
      @media (min-width: 994px) {
        display: flex;
        width: 400px;
      }
    &:hover{
      @include hover
    }
    }
    &__description {
      position: relative;
      color: $color-black;
      margin: 0.5rem;
      margin-left: 1rem;
    }
    i {
      position: absolute;
      font-size: 2rem;
      right: 1rem;
      top: 10%;
    }
    @include heart;
  }
}
