@import "./sass/Base/base";
@import "./sass/Layout/header";
@import "./sass/Utils/variables";
@import "./sass/Layout/info";
@import "./sass/Layout/fonctionnement";
@import "./sass/Layout/restaurants";
@import "./sass/Layout/footer";
@import "./sass/Pages/menu";
@import "./sass/Utils/loader";
@import "./sass/Utils/display";
