@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
/* font-family: 'Roboto', sans-serif;*/

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #ffff;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.title {
  font-family: "Shrikhand", cursive;
  font-weight: unset;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0.3rem;
  box-shadow: 0 0 0.5rem rgb(92, 92, 92);
  margin-bottom: 3px;
}

.city {
  padding: 1rem;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  gap: 1rem;
  h2 {
    font-size: 1rem;
    margin: 0;
  }
}
.info {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.3);
  padding-bottom: 70px;
  h2 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
  }
  p {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }
  button {
    color: $color-white;
    background-image: linear-gradient(to top, $color-primary, $color-secondary);
    font-size: 1rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 2px 6px 16px -3px rgba(0, 0, 0, 0.65);
    margin-left: 15%;
    margin-right: 15%;
    transition: transform 0.3s;
  }
  button:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
}
