@import "../Utils/variables";
@import "../Utils/mixins";

.cover--image1 {
  position: relative;
  height: 15rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../../images/restaurants/image3.jpg);
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.cover--image2 {
  position: relative;
  height: 22rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../../images/restaurants/image2.jpg);
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.cover--image3 {
  position: relative;
  height: 22rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../../images/restaurants/image1.jpg);
  @media (max-width: 994px) {
    height: 15rem;
  }
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.cover--image4 {
  position: relative;
  height: 22rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../../images/restaurants/image1.jpg);
  @media (max-width: 994px) {
    height: 16rem;
  }
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.title {
  & > a {
    position: absolute;
    left: 15px;
    top: 12px;
    left: 20px;
    font-size: 2rem;
    color: $color-black;
    text-decoration: none;
  }
}

.menu {
  position: relative;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 2rem;
  background-color: $color-grey;
  &--header {
    & > h2 {
      font-family: "Shrikhand", cursive;
      font-weight: unset;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 0;
      @media (max-width: 280px) {
        font-size: 22px;
      }
    }
    position: absolute;
    margin-top: -3rem;
    width: 100%;
    background-color: $color-white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $color-grey;
    i {
      position: absolute;
      font-size: 2rem;
      right: 3.5rem;
      top: 30%;
      @media (max-width: 425px) {
        right: 2.5rem;
      }
      @media (max-width: 320px) {
        right: 1.5rem;
      }
    }
    @include heart;
  }
  &--assets {
    & > h3 {
      font-weight: unset;
      font-size: 1rem;
      padding-top: 2.5rem;
      margin-top: 0;
      margin-bottom: 0;
      @include underline;
    }
  }
  &--grid {
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    @media (min-width: 994px) {
      display: flex;
      height: 8rem;
      flex-direction: row;
    }
    & .commande {
      white-space: nowrap;
      position: relative;
      display: flex;
      height: 3.5rem;
      padding: 5px;
      width: auto;
      padding-left: 4%;
      padding-top: 2%;
      justify-content: space-around;
      background-color: $color-white;
      border-radius: 15px;
      flex-direction: row;
      cursor: pointer;
      @media (max-width: 992px) {
        justify-content: normal;
      }
      @media (max-width: 390px) {
        justify-content: normal;
      }
      &:hover .check {
        opacity: 1;
        transform: translateX(-100%);
        @media (max-width: 994px) {
          transform: translateX(-20%);
        }
      }
      &:hover .prix {
        transform: translateX(-170%);
        @media (max-width: 1440px) {
          transform: translateX(-40%);
          width: 7rem;
        }
        @media (max-width: 992px) {
          transform: translateX(-100%);
        }
        @media (max-width: 768px) {
          transform: translateX(-100%);
        }
        @media (max-width: 425px) {
          width: 9rem;
          transform: translateX(-80%);
          transition: all 300ms;
        }
        @media (max-width: 390px) {
          width: 9rem;
          transform: translateX(-70%);
          transition: all 300ms;
        }
        @media (max-width: 375px) {
          width: 9rem;
          transform: translateX(-70%);
          transition: all 300ms;
        }
        @media (max-width: 320px) {
          width: 9rem;
          transform: translateX(-40%);
          transition: all 300ms;
        }
        @media (max-width: 280px) {
          transform: translateX(-30%);
          transition: all 300ms;
          width: 10rem;
        }
      }
      &:hover .check_icon {
        transform: rotate(360deg);
      }
      @media (min-width: 994px) {
        padding: 1rem;
        padding-right: 5rem;
        width: 20%;
      }
      @media (max-width: 375px) {
        justify-content: normal;
      }
      & h2 {
        margin: 0;
        font-size: 17px;
        white-space: nowrap;
        @media (max-width: 375px) {
          font-size: 15px;
        }
      }
      & .description {
        font-size: 13px;
        margin: 0;
        & p {
          margin: 0;
        }
        @media (max-width: 1440px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 1024px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 425px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 390px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 375px) {
          font-size: 13px;
        }
        @media (max-width: 280px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      & .items {
        padding-left: 5%;
        display: flex;
        width: 14rem;
        flex-direction: column;
        justify-content: space-around;
        @media (max-width: 1440px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 1280px) {
          right: 0rem;
        }
        @media (max-width: 1024px) {
          right: 0rem;
          width: 10rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 994px) {
          width: 14rem;
          right: 6rem;
        }
        @media (max-width: 768px) {
          padding-left: 0;
        }
        @media (max-width: 425px) {
          width: 15rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 390px) {
          width: 14rem;
          right: 2rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 375px) {
          text-overflow: ellipsis;
          overflow: hidden;
          padding-left: 0;
          right: 1rem;
        }
        @media (max-width: 280px){
          width: 11rem;
        }
        & h2 {
          @media (max-width: 1440px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          @media (max-width: 1024px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          @media (max-width: 425px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          @media (max-width: 390px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          @media (max-width: 280px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
  @media (min-width: 994px) {
    display: flex;
    flex-direction: column;
  }
}
.button {
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  & button {
    background-color: $color-grey;
    width: 12rem;
    @include button;
    &:hover {
      @include hover-button;
    }
    @media (min-width: 994px) {
      width: 25%;
    }
  }
}
.prix {
  position: relative;
  left: 4rem;
  top: 65%;
  font-weight: bold;
  transition: all 300ms;
  @media (max-width: 1440px) {
    text-align: center;
    justify-content: center;
    left: 3rem;
  }
  @media (max-width: 1280px) {
    left: 3rem;
  }
  @media (max-width: 1024px) {
    left: 4rem;
  }
  @media (max-width: 994px) {
    left: 34rem;
    top: 50%;
  }
  @media (max-width: 768px) {
    left: 24rem;
  }
  @media (max-width: 425px) {
    text-align: center;
    left: 5rem;
  }
  @media (max-width: 390px) {
    left: 4rem;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
  }
  @media (max-width: 375px) {
    text-align: center;
    justify-content: center;
    left: 3.5rem;
    font-size: 0.9rem;
    top: 62%;
  }
  @media (max-width: 320px) {
    left: 1rem;
  }
}
.check {
  position: absolute;
  opacity: 0;
  left: 28.1rem;
  top: 0rem;
  height: 3.5rem;
  overflow: hidden;
  padding: 1rem;
  background-color: $color-tertiary;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 300ms;
  @media (max-width: 1590px) {
    padding-left: 1rem;
  }
  @media (max-width: 1440px) {
    left: 22.6rem;
  }
  @media (max-width: 1366px) {
    left: 22rem;
  }
  @media (max-width: 1280px) {
    left: 21rem;
  }
  @media (max-width: 1100px) {
    padding-left: 1rem;
    margin-right: 5rem;
  }
  @media (max-width: 1024px) {
    left: 18rem;
    margin-right: 0;
  }
  @media (max-width: 994px) {
    margin: 0;
    left: 54rem;
    top: 0rem;
    height: 3rem;
    padding-left: 1.5rem;
  }
  @media (max-width: 768px) {
    left: 41rem;
    height: 2.7rem;
    padding-left: 1.3rem;
  }
  @media (max-width: 745px) {
    padding: 1rem;
    height: 2.7rem;
  }
  @media (max-width: 425px) {
    left: 21.5rem;
    height: 2.3rem;
  }
  @media (max-width: 390px) {
    left: 20rem;
    height: 2.3rem;
    top: 0rem;
    padding-right: 0.7rem;
  }
  @media (max-width: 375px) {
    left: 19rem;
    height: 2.3rem;
    top: 0rem;
  }
  @media (max-width: 320px) {
    left: 15.8rem;
    height: 2.2rem;
  }
  @media (max-width: 280px) {
    left: 13.5rem;
  }
  &_icon {
    width: 18px;
    margin-top: 0.8rem;
    text-align: center;
    background-color: $color-white;
    color: $color-tertiary;
    border-radius: 25px;
    padding: 0.2rem;
    border: 1px solid $color-white;
    transition: all 0.6s;
    @media (max-width: 994px) {
      margin-top: 0.8rem;
    }
    @media (max-width: 768px) {
      margin-top: 0.6rem;
    }
    @media (max-width: 425px) {
      margin-top: 0.3rem;
    }
    @media (max-width: 390px) {
      margin-top: 0.3rem;
    }
    @media (max-width: 375px) {
      margin-top: 0.4rem;
    }
  }
}
