@import "../Utils/variables";
@import "../Utils/mixins";

.cover--image1 {
  position: relative;
  height: 15rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../images/restaurants/image3.jpg);
  @media (min-width: 994px) {
   height: 28rem; 
  }
}
.cover--image2{
  position: relative;
  height: 22rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../images/restaurants/image2.jpg);
  @media (min-width: 994px) {
    height: 28rem; 
   }
}
.title {
  & > a {
    position: absolute;
    left: 15px;
    top: 12px;
    left: 20px;
    font-size: 2rem;
    color: $color-black;
    text-decoration: none;
  }
}

.menu {
  position: relative;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 2rem;
  background-color: $color-grey;
  &--header {
    & > h2 {
      font-family: "Shrikhand", cursive;
      font-weight: unset;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 0;
    }
    position: absolute;
    margin-top: -3rem;
    width: 100%;
    background-color: $color-white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $color-grey;
    i {
      position: absolute;
      font-size: 2rem;
      right: 3.5rem;
      top: 30%;
    }
    @include heart;
  }
  &--assets {
    & > h3 {
      font-weight: unset;
      font-size: 1rem;
      padding-top: 2.5rem;
      margin-top: 0;
      margin-bottom: 0;
      @include underline;
    }
  }
  &--grid{
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    @media (min-width: 994px) {
      display: flex;
      height: 8rem;
      flex-direction: row;
    }
    & .commande{
      position: relative;
      display: flex;
      height: 3.5rem;
      padding: 5px;
      padding-left: 4%;
      padding-top: 2%;
      justify-content: space-around;
      background-color: $color-white;
      border-radius: 15px;
      flex-direction: column;
      &:hover .menu_check_icon{
        cursor: pointer;
        transform: translateX(-75%);
        transition: ease-in-out 300ms;
        margin-left: 5rem;
        opacity: 1;
        i {
          transform: rotate(360deg) translateX(-5%);
          transition: ease-out 600ms;
        }
      }
      @media (min-width: 994px) {
        padding: 1rem;
        padding-right: 5rem;
        align-items: left;
        width: 20%;
      }
      & .menu_check_icon{
        opacity: 0;
      }
      & h2{
        margin: 0;
        font-size: 18px;
      }
      & .description{
        font-size: 15px;
      }
    }
  }
  @media (min-width: 994px) {
    display: flex;
    flex-direction: column;
  }
}
.button{
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  & button{
    background-color: $color-grey;
    width: 12rem;
    @include button;
    &:hover{
      @include hover;
    }
    @media (min-width: 994px) {
    width: 25%;
    }
  }
}
.prix{
  position: absolute;
  left: 85%;
  top: 60%;
  font-weight: bold;
}
