@import "../Utils/variables";
@import "../Utils/mixins";

.cover--image1 {
  position: relative;
  height: 15rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../images/restaurants/image3.jpg);
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.cover--image2 {
  position: relative;
  height: 22rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../images/restaurants/image2.jpg);
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.title {
  & > a {
    position: absolute;
    left: 15px;
    top: 12px;
    left: 20px;
    font-size: 2rem;
    color: $color-black;
    text-decoration: none;
  }
}

.menu {
  position: relative;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 2rem;
  background-color: $color-grey;
  &--header {
    & > h2 {
      font-family: "Shrikhand", cursive;
      font-weight: unset;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 0;
    }
    position: absolute;
    margin-top: -3rem;
    width: 100%;
    background-color: $color-white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $color-grey;
    i {
      position: absolute;
      font-size: 2rem;
      right: 3.5rem;
      top: 30%;
    }
    @include heart;
  }
  &--assets {
    & > h3 {
      font-weight: unset;
      font-size: 1rem;
      padding-top: 2.5rem;
      margin-top: 0;
      margin-bottom: 0;
      @include underline;
    }
  }
  &--grid {
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    @media (min-width: 994px) {
      display: flex;
      height: 8rem;
      flex-direction: row;
    }
    & .commande {
      position: relative;
      display: flex;
      height: 3.5rem;
      padding: 5px;
      width: auto;
      padding-left: 4%;
      padding-top: 2%;
      justify-content: space-around;
      background-color: $color-white;
      border-radius: 15px;
      flex-direction: row;
      &:hover .check {
        opacity: 1;
        transform: translateX(-100%);
      }
      &:hover .prix {
        transform: translateX(-170%);
        @media (max-width: 994px){
          transform: translateX(-300%);
        }
      }
      &:hover .check_icon {
        transform: rotate(360deg);
      }
      @media (min-width: 994px) {
        padding: 1rem;
        padding-right: 5rem;
        align-items: left;
        width: 20%;
      }
      & h2 {
        margin: 0;
        font-size: 17px;
        white-space: nowrap;
        @media (max-width: 375px){
          font-size: 15px;
        }
      }
      & .description {
        font-size: 13px;
        text-overflow: ellipsis;
        overflow: hidden;
        & p{
          margin: 0;
        }
        @media (max-width: 375px){
          font-size: 13px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      & .items {
        padding-left: 5%;
        display: flex;
        width: 14rem;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        @media (max-width: 1300px) {
          position: relative;
          right: -3rem;
        }
        @media (max-width: 1100px){
          right: -5rem;
        }
        @media (max-width: 994px){
          right: 6rem;
        }
        @media (max-width: 745px){
        right: 5rem;
        }
        @media (max-width: 375px){
          right: 1rem;
        }
      }
    }
  }
  @media (min-width: 994px) {
    display: flex;
    flex-direction: column;
  }
}
.button {
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  & button {
    background-color: $color-grey;
    width: 12rem;
    @include button;
    &:hover {
      @include hover;
    }
    @media (min-width: 994px) {
      width: 25%;
    }
  }
}
.prix {
  position: relative;
  left: 6rem;
  top: 65%;
  font-weight: bold;
  transition: all 300ms;
  @media (max-width: 994px){
    left: 15rem;
    top: 50%;
  }
  @media (max-width: 745px){
    left: 11rem;
  }
  @media (max-width: 375px){
    left: 3.5rem;
    font-size: 0.9rem;
    top: 62%;
  }
}
.check {
  position: relative;
  opacity: 0;
  left: 9rem;
  top: -1rem;
  height: 3.5rem;
  overflow: hidden;
  padding: 1rem;
  background-color: $color-tertiary;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 300ms;
  @media (max-width: 1590px) {
    padding-left: 1rem;
    padding-right: 2.5rem;
  }
  @media (max-width: 1300px) {
    padding-left: 1rem;
    margin-right: 4rem;
  }
  @media (max-width: 1100px) {
    padding-left: 1rem;
    margin-right: 5rem;
  }
  @media (max-width: 994px){
    margin: 0;
    left: 11.5rem;
    top: -33%;
    height: 3rem;
    padding-left: 2rem;
  }
  @media (max-width: 745px){
    padding: 1rem;
    left: 7rem;
    height: 2.7rem;
    top: -24%;
  }
  @media (max-width: 375px){
    left: 4.5rem;
    height: 2.3rem;
    top: -13%;
  }
  &_icon {
    width: 18px;
    margin-top: 0.8rem;
    text-align: center;
    background-color: $color-white;
    color: $color-tertiary;
    border-radius: 25px;
    padding: 0.2rem;
    border: 1px solid $color-white;
    transition: all 0.6s;
    @media (max-width: 745px){
      margin-top: 0.6rem;
    }
    @media (max-width: 375px){
      margin-top: 0.4rem;
    }
  }
}
