//colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #ffff;
$color-grey: #f2f2f2;
$color-cell: #f5edff;
$color-black: black;
$color-footer: #353535;

//sizes
$base-size: 1rem;
