@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Shrikhand", cursive;
  font-weight: unset;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0.3rem;
  -webkit-box-shadow: 0 0 0.5rem #5c5c5c;
          box-shadow: 0 0 0.5rem #5c5c5c;
  margin-bottom: 3px;
}

.city {
  padding: 1rem;
  background-color: #e3e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.city h2 {
  font-size: 1rem;
  margin: 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(211, 211, 211, 0.3);
  padding-bottom: 70px;
}
.info h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.6rem;
}
.info p {
  font-size: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
.info button {
  color: #ffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: -o-linear-gradient(bottom, #9356dc, #ff79da);
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  font-size: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: 2px 6px 16px -3px rgba(0, 0, 0, 0.65);
          box-shadow: 2px 6px 16px -3px rgba(0, 0, 0, 0.65);
  margin-left: 15%;
  margin-right: 15%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.info button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.9;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3MvQmFzZS9fYmFzZS5zY3NzIiwiLi4vLi4vc3R5bGUuY3NzIiwiLi4vLi4vc2Fzcy9MYXlvdXQvX2hlYWRlci5zY3NzIiwiLi4vLi4vc2Fzcy9MYXlvdXQvX2luZm8uc2NzcyIsIi4uLy4uL3Nhc3MvVXRpbHMvX3ZhcmlhYmxlcy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFRLDZHQUFBO0FBQ1I7RUFDRSxTQUFBO0VBQ0EsaUNBQUE7QUNDRjs7QUNKQTtFQUNFLGlDQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxTQUFBO0VBQ0EsZUFBQTtFQUNBLHNDQUFBO1VBQUEsOEJBQUE7RUFDQSxrQkFBQTtBRE9GOztBQ0pBO0VBQ0UsYUFBQTtFQUNBLHlCQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSxTQUFBO0FET0Y7QUNORTtFQUNFLGVBQUE7RUFDQSxTQUFBO0FEUUo7O0FFekJBO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSxrQkFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0EsMENBQUE7RUFDQSxvQkFBQTtBRjRCSjtBRTNCSTtFQUNFLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxpQkFBQTtBRjZCTjtBRTNCSTtFQUNFLGVBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtBRjZCTjtBRTNCSTtFQUNFLFlDakJRO0VEa0JSLDZGQUFBO0VBQUEsOERBQUE7RUFBQSwyREFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTtFQUNBLHlEQUFBO1VBQUEsaURBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0VBQ0EsMENBQUE7RUFBQSxrQ0FBQTtFQUFBLDZCQUFBO0VBQUEsMEJBQUE7RUFBQSxrREFBQTtBRjZCTjtBRTNCSTtFQUNFLDhCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtFQUNBLFlBQUE7QUY2Qk4iLCJmaWxlIjoic3R5bGUuY3NzIn0= */